@using System.Text.RegularExpressions
@using System.Globalization
@model BudgetData.Models.BudgetListModel;

@{
    ViewBag.Title = "Gehaltseingang";
    Layout = "_Layout";
}

<h2>Gehaltseingang</h2>
<form asp-action="Gehaltseingang" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @foreach (var budget in (Model.BudgetList ?? throw new InvalidOperationException()).Where(item => item.Purpose!="Freizeit"))
    {
        <div class="form-group">
            <label class="control-label">@Html.DisplayFor(item => budget.Purpose)</label>
            <input name="@Html.DisplayFor(item => budget.Purpose)" value="@Html.DisplayFor(item => budget.DefaultIncome)" class="form-control"/>
            @* <span asp-validation-for="Miete" class="text-danger"></span> *@
        </div>
    }
    <div class="form-group">
            <label class="control-label">Freizeit</label>
            <input type="text" value="Errechtet sich als Restbetrag" class="form-control" disabled/>
        </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Book" class="btn btn-primary"/>
    </div>
    <br/>
</form>

<div>
    <a asp-controller="Transaction" asp-action="Index">Zurück zum Konto</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}