@model BudgetData.Models.Kassensturz

@{
    ViewBag.Title = "Kassensturz";
    Layout = "_Layout";
}

<h2>Kassensturz</h2>
<form asp-action="Kassensturz" method="post">
    <div class="form-group">
        <label for="Kontostand" class="control-label">Konto</label>
        <input asp-for="Konto" id="Kontostand" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Bargeldbestand" class="control-label">Bargeld</label>
        <input asp-for="Bargeld" type="text" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Check" class="btn btn-primary"/>
    </div>
    <br/>
    <div class="text-center">
        @if (Model != null)
        {
            <p>
                Die Differenz der gerade eingegebenen Werte vom Gesamtbetrag der Kontobewegungen beträgt
                @Html.DisplayFor(item => Model.Difference)
                .
            </p>
        }

    </div>
</form>