@{
    ViewData["Title"] = "Dateneingabe";
}

<div class="text-center">
    <form>
        <label for="tdate">Datum</label><br>
        <input type="date" id="tdate" name="tdate"><br>
        <label for="tdesc">Beschreibung</label><br>
        <input type="text" id="tdesc" name="tdesc"><br>
        <label for="tval">Betrag</label><br>
        <input type="number" step=".01" id="tval" name="tval"><br>
        <input type="submit" id="tsub" name="tsub" value="Abschicken" style="margin-top: 5px">
    </form>
</div>
