@{
    ViewData["Title"] = "Dateneingabe";
}

<div class="text-center">
    <figure>
        <audio controls src="~/music/2021_05_28_zug_ibk.mp3">
            @* autoplay="autoplay" loop="loop" *@
        </audio>
    </figure>
    <form>
        <label for="tdate">Datum</label><br>
        <input type="date" id="tdate" name="tdate"><br>
        <label for="tdesc">Beschreibung</label><br>
        <input type="text" id="tdesc" name="tdesc"><br>
        <label for="tval">Betrag</label><br>
        <input type="number" step=".01" id="tval" name="tval"><br>
        <input type="submit" id="tsub" name="tsub" value="Abschicken" style="margin-top: 5px">
    </form>
</div>
