@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    Stefan Fimpel, andrena objects ag<br/>
    Pablo Moreno Um, andrena objects ag<br/>
    <br/>
    <audio controls src="~/music/2021_05_28_zug_ibk.mp3">
        @* autoplay="autoplay" loop="loop" *@
    </audio><br/>
    <audio controls src="~/music/2020-08-02.mp3">
    </audio><br/>
    <audio controls src="~/music/2020-10-25_NotInAbleton.mp3">
    </audio><br/>
    <audio controls src="~/music/2020_05_24_rough.mp3">
    </audio><br/>
    <audio controls src="~/music/2022_04_09_traum.mp3">
    </audio>
</div>