@model BudgetData.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfTransaction" class="control-label"></label>
                <input asp-for="DateOfTransaction" class="form-control"/>
                <span asp-validation-for="DateOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfTransaction" class="control-label"></label>
                <input asp-for="DescriptionOfTransaction" class="form-control"/>
                <span asp-validation-for="DescriptionOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label><br/>
                <select asp-for="Budget" asp-items="@BudgetList.BudgetsSL"></select>
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueOfTransaction" class="control-label"></label>
                <input asp-for="ValueOfTransaction" class="form-control"/>
                <span asp-validation-for="ValueOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}