@model BudgetData.Models.TransactionViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Neue Transaktion</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.DateOfTransaction" class="control-label"></label>
                <input asp-for="Transaction.DateOfTransaction" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="Transaction.DateOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.DescriptionOfTransaction" class="control-label"></label>
                <input asp-for="Transaction.DescriptionOfTransaction" class="form-control"/>
                <span asp-validation-for="Transaction.DescriptionOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Budget" class="control-label"></label><br/>
                <select asp-for="Transaction.Budget" asp-items="Model.Budgets"></select>
                <span asp-validation-for="Transaction.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ValueOfTransaction" class="control-label"></label>
                <input asp-for="Transaction.ValueOfTransaction" class="form-control"/>
                <span asp-validation-for="Transaction.ValueOfTransaction" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                Weitere Transaktion erstellen: <input type="checkbox" name="AnotherItem" id="AnotherItem"/><br/>
                <input type="submit" value="Erstellen" class="btn btn-primary"/>
            </div>
            <br/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zum Konto</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}